.title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(71, 0, 71);
    font-size: 40px;
}
.link-button {
    background-color: rgba(170, 71, 162, 0.507);
    font-size: 20px;
}
.link {
    text-align: center;
}
* {
    background-color: orange;
}
.meow {
    height: 400px;
    width: 400px;
    align-content: center;
}